.intro {
  text-align: center;
}

.intro p {
  font-weight: 600;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
  width: 80%;
}

span {
  padding-right: 5px;
}

button {
  width: 35%
}
